body{
    font-family: serif;
    font-size:17px;
    margin: 40px auto;
    max-width:740px;
    color: #333;
    padding:0 20px
}

.abstract { font-weight: bold; }

/* Visually disciminate internal and external links */
a {
    color: #333;
    text-decoration: underline;
}

a[target="_blank"]:before { content: "[" }
a[target="_blank"]:after { content: "]" }

/* Code font-size is adjusted so code fits in column */
pre { font-size: 14px }
