body{
    font-family: serif;
    font-size:18px;
    margin: 40px auto;
    max-width:740px;
    color: #333;
    padding:0 20px
}

.abstract { font-weight: bold; }

a {
    color: #333;
    text-decoration: underline;
    font-weight: bold;
}
a[target="_blank"] { font-weight: normal; }

/* Styling code blocks and their outputs */
pre {
  display: block;
  background: #f2f2f5;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  max-width: 100%;
  min-width: 100px;
  padding: 16px;
  border-radius: 6px;
  font-size: 85%;
}
