body{
    margin: 40px auto;
    max-width:740px;
    color: #333;
    font-size:17px;
    padding:0 10px
}

.abstract {
    font-weight: bold;
}

/* External links are marked with an icon */
a.external:after {
    content: "}"
}

a.external:before {
    content: "}"
}

/* Code font-size is adjusted so code fits in column */
pre{
    font-size: 14px
}
