body{
    font-family: sans-serif;
    font-size:16px;
    margin: 40px auto;
    max-width:740px;
    color: #333;
    padding:0 20px
}

.abstract {
    font-weight: bold;
}

/* Internal links are marked with {brackets} */
a:before { content: "{" }
a:after { content: "}" }

/* External links are marked with [brackets] */
a[target="_blank"]:before { content: "[" }
a[target="_blank"]:after { content: "]" }

/* Code font-size is adjusted so code fits in column */
pre{
    font-size: 14px
}
